.DS_Store
XSL/.DS_Store
Python/.DS_Store
Schemas/.DS_Store
doc/.DS_Store
examples/schemas.xml
*.txt
Xgridfit.egg-info/PKG-INFO
req
build/
dist/Xgridfit-3.0-py3.7.egg
xgridfit/__pycache__/__init__.cpython-37.pyc
xgridfit/__pycache__/xgflib.cpython-37.pyc
XSL/expand.xsl.old
doc/.~lock.Xgridfit-reference.odt#
